<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88108048-2"></script>
  <%= javascript_include_tag 'analytics', async: true %>
  <title><%= t("site.pages.#{action_name}.title") %></title>
  <meta name="description" content="<%= t('site.description') %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>

</html>